@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans&display=swap');

img{
    display: flex;
}

li{
    text-align: start;
}

ul{
    display: inline-grid;
}

.obj-name{
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 3px;
}

.content-obj{
    text-align: center;
    width: 50%;
    display: inline-block;
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
}

.img-van{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-size: 60px;
    margin-bottom: 80px;
    background-color: rgb(230, 175, 74);
    padding: 20px;
    border-radius: 30px;
}

.img-van img {
    animation: 1s ease-out 0s 1 slideLeft;
}

.img-van p {
    font-size: 18px;
    display: flex;
    align-items: flex-start;
}

.content-obj-def{
    text-align: start;
}

.img-van-text{
    display: flex;
    flex-direction: column;
}

.img-van-text p {
    margin-left: 28px;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }
