.Ajuda{
    padding-bottom: 70px;
    font-family: 'Poppins', sans-serif;
}

.meuGrid{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    padding-top: 20px;
    max-width: 800px;
    width: 800px;
}

.parteUm{
    display: flex;
    flex-direction:column;
    align-items:flex-start;
}

.parteDois{
    margin-left: 100px;
    display: flex;
    flex-direction:column;
    align-items:flex-start;
}

h1{
    text-align: center;
    font-weight: 500;
}

h3{
    font-weight: 450;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

h4{
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.btnPagamento{
    width: 64px;
    height: 54px;
    margin-top: 15px;
    background-color: #e89f05;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnPagamento img {
    width: 50px;
    height: 50px;
}

.btnCadastro{
    width: 64px;
    height: 54px;
    margin-top: 15px;
    background-color: #e89f05;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnCadastro img {
    width: 50px;
    height: 50px;
}

.btnChat{
    width: 64px;
    height: 54px;
    margin-top: 15px;
    background-color: #e89f05;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnChat img {
    width: 50px;
    height: 50px;
}


.btnRotas{
    width: 64px;
    height: 54px;
    margin-top: 15px;
    background-color:#e89f05;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnRotas img {
    width: 50px;
    height: 50px;
}

.btnInfo{
    width: 64px;
    height: 54px;
    margin-top: 15px;
    background-color: #e89f05;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnInfo img {
    width: 50px;
    height: 50px;
}

.btnNos{
    width: 64px;
    height: 54px;
    margin-top: 15px;
    background-color: #e89f05;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.btnNos img {
    width: 50px;
    height: 50px;
}

#pagamentoEscondido{
    width: 330px;
    margin-top: 10px;
    padding: 12px;
    border-style:solid;
    border-radius: 5px;
    border-color:#fdecc7;
    background-color: #fdecc7;
    display: flex;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

#cadastroEscondido{
    width: 330px;
    margin-top: 10px;
    padding: 12px;
    border-style:solid;
    border-radius: 5px;
    border-color: #fdecc7;
    background-color: #fdecc7;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

#rotasEscondido{
    width: 330px;
    margin-top: 10px;
    padding: 12px;
    border-style:solid;
    border-radius: 5px;
    border-color: #fdecc7;
    background-color: #fdecc7;
    display: flex;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

#chatEscondido{
    width: 330px;
    margin-top: 10px;
    padding: 12px;
    border-style:solid;
    border-radius: 5px;
    border-color: #fdecc7;
    background-color:#fdecc7;
    display: flex;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

#infoEscondido{
    width: 330px;
    margin-top: 10px;
    padding: 12px;
    border-style:solid;
    border-radius: 5px;
    border-color: #fdecc7;
    background-color: #fdecc7;
    display: flex;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

#nosEscondido{
    width: 330px;
    margin-top: 10px;
    padding: 12px;
    border-radius: 5px;
    border-color: #fdecc7;
    background-color: #fdecc7;
    display: flex;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.Pagamento{
    text-align: left;
}

.Cadastro{
    text-align: left;
}

.Chat{
    text-align: left;
}

.Rotas{
    text-align: left;
}

.Info{
    text-align: left;
}

.Nos{
    text-align: left;
}

#email:link {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #e89f05;
    background-color: transparent;
    text-decoration: none;
}

#email:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

#cadastro {
    font-family: 'Poppins', sans-serif ;
    font-size: 17px;
    color: #e89f05;
    background-color: transparent;
    text-decoration: none;
    padding: 5px;
}

#cadastro:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

@keyframes slideInFromLeft {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }