@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

footer {
    text-align: center;
    bottom: 0;
    width: 100vw;
    background-color: #e89f05;

    display: flex;
    flex-direction: row;
    
    gap: 100px;
    font-family: 'Poppins', sans-serif;

    margin-top: 30%;
    padding-bottom: 15px;
}

.sessao1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}

.sessao2{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    margin-left: 400px;
    font-family: 'Poppins', sans-serif;
}

.sessao3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.btnEnviar{
    margin-top: 15px;
    background-color:black;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    transition: all 0.6s;
    cursor: pointer;
}

.btnEnviar:hover{
    background-color:rgb(44, 44, 44);
}

.contatos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.redes-sociais{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

.rede-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.titulo {
    font-size: 22px;
    font-weight: 500;
}

.slogan{
    font-size: 35px;
    font-weight: 600;
}

label {
    font-family: 'Poppins', sans-serif;
}

form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

input#email {
    border: 2px solid transparent;
    border-radius: 5px;
}

input#email:focus{
    border: 2px solid #c2880d;
}

textarea{
    resize: none;
    width: 100%;
    height: 100px;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    transition: all 0.6s;
}

textarea:focus{
    border: 2px solid #c2880d;
}