div.content{
    width: 80%;
    /*height: 80%;*/
    margin: auto;
}

main > div {
    /* Centralizar uma div :(*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}