.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

:root {
    --bg-menu: #bdbbbb;
    --logo-width: 200px;
    --content-header-height: 60px;
    --content-footer-height: 40px;
}

body {
    box-sizing: border-box;
    font-family: 'Pacifico', sans-serif;
}

/* Lay-out */

.App {
    margin: 0px;
    display: grid;
    grid-template-columns: var(--logo-width) 1fr;
    grid-template-rows: var(--content-header-height) 1fr var(--content- footer-height);
    grid-template-areas: "logo menu" "content content" "footer footer";
    background-color: #f5f5f5;
}

aside.logo {
    grid-area: logo;
}

nav.menu {
    grid-area: menu;
}

div.content {
    grid-area: content;
}

footer.footer {
    grid-area: footer;
}