@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Manrope:wght@200&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.box {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    transition: all 1s;
}

.box.withCircle{
    border-top-left-radius: 650px 850px;
    border-top-right-radius: 1090px 850px;
    border-bottom-left-radius: 850px 850px;
    border-bottom-right-radius: 750px 850px;
    background-color: #F2AC57;
}

.box-cadastro {
    text-align: left;
    background-color: #e6e6e6;
    padding: 80px;
    border-radius: 18px;
    transition: all 1s;
    width: 25%;
}

select{
    background-color: rgb(241, 241, 241);
    font-size: 16px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    text-decoration: none;
}

input[type="text"],
input[type="password"] {
    background-color: rgb(241, 241, 241);
    font-size: 16px;
    border-radius: 8px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

/*input[type="password"]{
    background-image:url(../../assets/imagens/eye.svg);
    background-size: 8%;
	background-repeat:no-repeat; 
}*/

input[type="text"]:focus{
    border: 1px solid #F2AC57;
}

.upload-button {
    border-color: rgb(226, 226, 226);
    border-style: groove;
    padding: 8px;
    border-radius: 8px;
    display: inline-block;
    background-color: rgb(187, 187, 187);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    transition: all 0.6s;
}

.upload-button:hover{
    -webkit-box-shadow: 4px 6px 0px 0px #8C8C8C;
    -moz-box-shadow: 4px 6px 0px 0px #8C8C8C;
    box-shadow: 4px 6px 0px 0px #8C8C8C;
}

input[type="file" i] {
    padding: 20px;
}

input[type=submit] {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: block;
    margin-top: 15px;
    font-size: 15px;
    padding: 12px;
    border-radius: 15px;
    border: none;
    transition: 0.5s;
    background-color: rgb(187, 187, 187);
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: rgb(233, 171, 96);
}

label {
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    margin-top: 15px;
    padding: 6px;
}

.switch{
    padding-left: 0;
    left: 0;
    margin-left: 0px;
}